<h1>Mollies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @mollies.each do |molly| %>
      <tr>
        <td><%= molly.name %></td>
        <td><%= molly.description %></td>
        <td>Actions</td>
      </tr>
    <% end %>
  </tbody>
</table>